@font-face{ 
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

span {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

html.lt-ie8 span {
    position: relative;
    left: -999px;
}

span:before,
span:after {
    font: 100px 'WebSymbolsRegular';
    color: #000;
}

html.lt-ie8 span:before,
html.lt-ie8 span:after {
    position: relative;
    left: 999px;
}

span:before {
    content: ":"; /* Default */
}

span:after {
    content: attr(data-icon);
    display: none;
}

span[data-icon]:before {
    display: none;
}

span[data-icon]:after {
    display: inline;
}