@font-face{ 
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

span {
    font: 0/0 a;
    color: transparent;
}

span:before {
    font: 200px 'WebSymbolsRegular';
    color: #000;
    content: "."; /* Default character */
}

[data-icon]:before {
    font: 0/0 a;
    color: transparent;
}

[data-icon]:after {
    font: 200px 'WebSymbolsRegular';
    color: #000;
    content: attr(data-icon);
}